
table.sortable th {
    background-color:#eee;
    color:black;
    font-weight: bold;
    cursor: default;
}
body {
	font-family: helvetica;

}

.center-text {
	text-align: center;
}
tr:nth-child(even) { 
	background: #888888; 
	color: white;
}
h1 {
	font-size:18px;
}
